@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
	background: white;
	color: #444444; /* charcoal */
	font-family: 'Roboto', sans-serif;
	font-size: 12pt;
	padding-bottom: 8px;
	margin: 0;
}

.sidebyside {
  display: inline-block;
  vertical-align: middle;
  padding-left: 1rem;
  padding-right: 1rem;
}

#layout-content {
	padding-top: 0.0em;
	padding-left: 1.0em;
	padding-right: 1.0em;
    	border: none;
    	background: white;
    	text-align: left;
    	vertical-align: top;
    	max-width: 670px;
    	margin: 0 auto;
}

a {
	color: #0f4c81; /* classic blue */
	text-decoration: none;
}

a:hover {
	color: #c0c0c0; /* silver */
	cursor: pointer;
}

div#toptitle {
	padding-bottom: 0.2em;
	margin-bottom: 1.5em;
	border-bottom: 1px solid #939393; /* suva grey */
}

div#toptitle + h2, div#toptitle + h3 {
	margin-top: -0.7em;
}

em {
	font-style: italic;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Roboto Slab', serif;
	color: #0f4c81; /* classic blue */
	font-weight: normal;
}

h1, h2, h3 {
	margin-top: 0.7em;
	margin-bottom: 0.3em;
	padding-bottom: 0.2em;
	line-height: 1.0;
	padding-top: 0.5em;
	border-bottom: 1px solid #939393; /* suva grey */
}

h1 {
	font-size: 160%;
  font-weight: 500;
}

h2 {
	padding-top: 0.8em;
	font-size: 140%;
}

h2 + h3 {
  padding-top: 0.2em;
}

h3 {
	font-size: 120%;
	border-bottom: none;
}

h3, h4, h5, h6 {
	color: #444444; /* charcoal */
}

p {
	margin-top: 0.0em;
	margin-bottom: 0.8em;
	padding: 0;
	/*line-height: 1.3;*/
}

div#footer {
	border-top: 1pt solid #939393; /* suva grey */
	padding-top: 0.1em;
	margin-top: 4.0em;
}

div#footer a {
	font-size: 80%;
	color: #939393; /* suva grey */
}

dl {
	margin-top: 0.2em;
	padding-top: 0;
	margin-bottom: 0.8em;
}

dt {
	margin-top: 0.5em;
	margin-bottom: 0;
}

dl {
	margin-left: 20px;
}

dd > *:first-child {
	margin-top: 0;
}

dd p {
	margin-bottom: 0.3em;
}

#layout-content h1:first-child, #layout-content h2:first-child, #layout-content h3:first-child {
	margin-top: -0.7em;
}

div#toptitle h1, #layout-content div#toptitle h1 {
	margin-bottom: 0.0em;
	padding-bottom: 0.1em;
	padding-top: 0;
	margin-top: 0.5em;
	border-bottom: none;
}

.bib-info {
	font-size: small;
  color: #939393; /* suva grey */
}

.bib-title {
	font-size: 100%;
	font-style: normal;
	margin-top: 0.5ex;
}

.author {
   font-style: normal;
   font-variant: small-caps;
   text-transform: lowercase;
   font-size: 120%;
}

.bib-links {
    white-space: nowrap;
}

div.bib-abstract {
    font-size: small;
    font-weight: lighter;
    display: none;
    margin-top: 1ex;
    margin-bottom: 1ex;
    padding: 0 8pt;
    margin-left: 2pt;
    border-left: 1pt solid #939393; /* suva grey */
}
